body{
margin-left:-0px;
margin-top:0px;
}
ul{
margin-top:-47px;
margin-left:-40px;
width:300px;
height:700px;
background-color:#E433FF;
}
li{
background-color:#E433FF ;
color:#ffffff;
width:250px;
display:block;
text-align:left;
font-size:20px;
padding:15px;
}
li:hover{
background-color:#DAF7A6;
}
h1{
background-color:#FF33CD;
color:#DAF7A6;
font-family:'algerian';
font-size:70px;
}
h4{
text-align:justify;
padding:5px;
margin-top:-700px;
padding:4px;
margin-left:330px;
}